@CHARSET "UTF-8";
.header{
	height: 120px;
}
.top-menu{
	height: 70px;
}

.pleer{
	height: 480px;
}
.chat{
	height: 480px;
}
.container{
	/*width: 80%;*/
}
.news {
	height: 300px;
}
.stuff{
	height: 300px;
}
div{
	border: 1px solid black;
}